.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 2rem;
  max-width: 1600px;
  margin: 0 auto;
  margin-bottom: 4rem;

  h1 {
    font-size: 1rem;
    font-weight: normal;
    padding-right: 3rem;
  }

  a {
    all: unset;
    cursor: pointer;
    display: inline-block;
  }
}
