.wrapper {
  position: absolute;
  top: 2.2rem;
  right: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 2rem;
  height: 2rem;
  background: transparent;
  border: none;
  cursor: pointer;
  padding: 0;
  z-index: 10;

  span {
    position: absolute;
    clip: rect(1px, 1px, 1px, 1px);
    padding: 0;
    border: 0;
    height: 1px;
    width: 1px;
    overflow: hidden;
  }

  div {
    width: 2rem;
    height: 2px;
    background-color: #dadada;
    transition: all 0.3s linear;
    position: relative;
    transform-origin: 1px;

    &:nth-child(2) {
      transform: rotate(0);

      &.open {
        transform: rotate(45deg);
      }
    }

    &:nth-child(3) {
      opacity: 1;

      &.open {
        opacity: 0;
      }
    }

    &:last-child {
      transform: rotate(0);

      &.open {
        transform: rotate(-45deg);
      }
    }
  }
}
