.flick {
  padding: 2rem;
  max-width: 1600px;
  margin: 0 auto;
  line-height: 2rem;

  .heading {
    margin-bottom: 4rem;

    h2 {
      font-size: 2rem;
      margin: 0;
    }
  }

  h2 {
    font-size: 2rem;
    margin: 0 0 4rem;
  }

  h3 {
    text-transform: uppercase;

    &:not(:first-child) {
      margin-top: 2rem;
    }
  }

  .contact {
    display: flex;
    gap: 3rem;
  }

  .profile-pic {
    position: relative;
    aspect-ratio: 12 / 17;
    max-width: 30rem;
    flex: 1;
    margin-top: 0.2rem;

    img {
      object-fit: contain;
    }
  }

  .link {
    cursor: pointer;
    display: inline-block;
    position: relative;

    svg {
      width: 13px;
    }

    &::after {
      content: '';
      position: absolute;
      width: 100%;
      transform: scaleX(0);
      height: 1px;
      bottom: 0;
      left: 0;
      background-color: #dadada;
      transform-origin: bottom left;
      transition: transform 0.3s ease-out;
    }

    &:hover::after {
      transform: scaleX(1);
      transform-origin: bottom left;
    }
  }

  .links {
    margin: 1rem 0;
    display: flex;
    gap: 1.5rem;

    a {
      cursor: pointer;
      display: block;
      font-size: 2rem;
    }
  }
}

.film {
  display: flex;
  flex-direction: column;
  gap: 3rem;

  @media screen and (min-width: 1250px) {
    display: grid;
    grid-template-columns: minmax(884px, 1.8fr) 1fr;
    gap: 4rem;
  }

  .film-desc {
    @media screen and (max-width: 1249px) {
      display: grid;
      grid-template-columns: max-content auto;
      gap: 5rem;
    }

    ul,
    p {
      margin-bottom: 2rem;
      font-weight: 300;
    }

    span {
      // font-family: var(--nunito);
      font-weight: 700;
    }

    .extra {
      font-weight: 700;
    }
  }
}
