.flick {
  padding: 2rem;
  max-width: 1600px;
  margin: 0 auto;
  line-height: 2.2rem;

  h2 {
    font-size: 2rem;
    margin: 0 0 4rem;
  }

  h3 {
    text-transform: uppercase;

    &:not(:first-child) {
      margin-top: 2rem;
    }
  }

  .contact {
    display: flex;
    gap: 3rem;
  }

  .profile-pic {
    position: relative;
    aspect-ratio: 12 / 17;
    max-width: 30rem;
    flex: 1;
    margin-top: 0.2rem;

    img {
      object-fit: contain;
    }
  }

  .link {
    cursor: pointer;
    display: inline-block;
    position: relative;

    &::after {
      content: '';
      position: absolute;
      width: 100%;
      transform: scaleX(0);
      height: 1px;
      bottom: 0;
      left: 0;
      background-color: #dadada;
      transform-origin: bottom left;
      transition: transform 0.3s ease-out;
    }

    &:hover::after {
      transform: scaleX(1);
      transform-origin: bottom left;
    }
  }

  .links {
    margin: 1rem 0;
    display: flex;
    gap: 1.5rem;

    a {
      cursor: pointer;
      display: block;
      font-size: 2rem;
    }
  }
}

.gallery-list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  grid-template-rows: repeat(4, 150px);
  grid-auto-flow: dense;

  li {
    cursor: pointer;
    overflow: hidden;
    position: relative;
  }

  figure {
    display: block;
    height: 100%;

    .image-container {
      position: relative;
      height: 100%;
    }

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }

    figcaption {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      display: flex;
      justify-content: center;
      align-items: center;

      h2 {
        color: white;
        font-size: 1.2rem;
        padding: 0.2rem 0.5rem;
        border: 1px solid white;
      }
    }

    .hover-bg {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: linear-gradient(45deg, #ce86c0 0%, #0480a9 100%);
    }
  }
}

@media screen and (min-width: 400px) {
  .gallery-list {
    li:nth-child(3),
    li:nth-child(7) {
      grid-column: span 2;
      grid-row: span 2;
    }
  }
}

@media screen and (min-width: 600px) {
  .gallery-list {
    grid-template-columns: repeat(auto-fit, minmax(270px, 1fr));
    grid-template-rows: repeat(7, 200px);
  }
}

// REMOVE THIS IF 12 ITEMS
@media screen and (min-width: 810px) {
  .gallery-list {
    li:nth-child(10) {
      grid-column: span 2;
      grid-row: span 2;
    }
  }
}

@media screen and (min-width: 1080px) {
  .gallery-list {
    grid-template-columns: repeat(4, minmax(270px, 1fr));
    grid-template-rows: repeat(4, 200px);

    li:nth-child(11),
    li:nth-child(12) {
      grid-column: span 2;
      grid-row: span 2;
    }
    // REMOVE THIS IF 12 ITEMS
    li:nth-child(10) {
      grid-column: span 1;
      grid-row: span 1;
    }
  }
}

@media screen and (min-width: 1620px) {
  .gallery-list {
    grid-template-rows: repeat(4, 250px);
  }
}
